body {
    margin: 0;
}

.first_container {
    background: black;
    text-align: left;
    position: relative;
}

.first_container img {
    width: 100%;
}

.fc_text {
    color: white;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 7%;
    font-family: 'Thasadith', sans-serif;
    font-size: 20px;
    font-stretch: expanded;
}

.second_container {
    background: black;
    text-align: right;
    position: relative;
}

.second_container img {
    width: 100%;
}

.sc_text {
    color: white;
    text-align: left;
    position: absolute;
    top: 40%;
    left: 7%;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 37px;
    font-stretch: expanded;
}

#sc_t {
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 45px;
}

.third_container {
    background: black;
    text-align: right;
    position: relative;
}

.third_container img {
    width: 100%;
}

.tc_text {
    color: white;
    text-align: right;
    position: absolute;
    top: 50%;
    right: 7%;
    font-family: 'Courgette', cursive;
    font-size: 22px;
    font-stretch: expanded;
}

